@font-face {
    src: url('../fonts/mini_pixel-7.ttf');
}

/* .menuOpciones{
	-fx-opacity: 0.5;
	-fx-background-color: rgba(100%,100%,100%,0.5);
}*/

.label{
	-fx-font-family: "Mini Pixel-7"; /* Abrir archivo .ttf para saber el nombre */
	-fx-font-size: 38.0px;
	-fx-text-fill: yellow;
	-fx-opacity: 1.0;
}

.label .text{
	-fx-stroke: rgba(115,93,21,1.0);
    -fx-stroke-width: 1px;
}

.label_seleccion{
}

.label_seleccion:hover{
	-fx-text-fill: white;
}

.background{
	-fx-background-image: url('../images/menu/MenuBackground.png');
	-fx-background-size: cover;
}

.backgroundOpciones{
	-fx-background-image: url('../images/menu/MenuOpcionesFondo.png');
	-fx-background-size: contain;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

.tituloGrande{
	-fx-font-size: 98.0px;
}

.titulo{
	-fx-font-size: 68.0px;
}

.titulo:hover{
	-fx-text-fill: yellow;
}

.titulo_mini{
	-fx-font-size: 40.0px;
}

.titulo_small{
	-fx-font-size: 30.0px;
}

.text_field{
	-fx-font-family: "Mini Pixel-7"; 
	-fx-font-size: 40.0px;
	-fx-background-color: rgba(0,200,0,0.5);
	-fx-border-width: 5px;
	-fx-text-fill: rgba(212,250,115,0.8);
	-fx-border-color: rgba(0,100,0,0.8);
}

.list-cell{
	-fx-font-family: "Mini Pixel-7";
	-fx-font-size: 40.0px;
	-fx-background-color: transparent;
	-fx-alignment: center;
	-fx-text-fill: yellow;
}

.list-cell:selected{
	-fx-background-color: rgba(0,100,0,0.2);
	-fx-text-fill: white;
}

.lista{
	-fx-background-color: transparent;
}

.lista .text{
	-fx-stroke: rgba(115,93,21,1.0);
    -fx-stroke-width: 1px;
}

.boton_opciones{
    -fx-border-color: transparent;
    -fx-border-width: 0.0;
    -fx-background-radius: 0.0;
    -fx-background-color: transparent;
    -fx-font-family: "Mini Pixel-7"; /* Abrir archivo .ttf para saber el nombre */
	-fx-font-size: 38.0px;
	-fx-text-fill: yellow;
}

.menuBoton{
	/*-fx-background-image: url("../images/menu/MenuBotonMonkeyBros.png");
	-fx-background-size: 200px 80px;*/
	-fx-background-image: url('../images/menu/MenuBoton.png');
	
	-fx-background-size: cover;
	-fx-font-family: "Mini Pixel-7"; /* Abrir archivo .ttf para saber el nombre */
	-fx-font-size: 38.0px;
	-fx-text-fill: yellow;
	-fx-border-color: white;
    -fx-border-width: 3.0;
    -fx-border-insets: 6.0;
}

.menuBoton:hover{
	-fx-background-image: url('../images/menu/MenuBotonOscuro.png');
	-fx-border-color: yellow;
	-fx-text-fill: white;
}

.menuBotonInvalido{
	-fx-background-image: url('../images/menu/MenuBotonOscuro.png');
	-fx-border-color: yellow;
	-fx-text-fill: white;
}

.button .text{
	-fx-stroke: rgba(115,93,21,1.0);
    -fx-stroke-width: 1px;
}

.invalido{
	-fx-text-fill: #bf0f1e;
}

.invalido:hover{
	-fx-text-fill: #bf0f1e;
}

.label_vida{
	-fx-text-fill: #c21525;
}
